//
// General styles
//

.wrp-main {
  @extend .col-xs-12;
  @extend .col-lg-offset-2;
  @extend .col-lg-8;

  &:first-child { margin-bottom: 60px; }
}

body {
  padding: 0;
  font-size: $fs-root;
  font-family: $ff-root;

  @include transition(all, .25s, linear, 0s);

  &.offline {
    .tw-card-image { background-color: $offline-state; }

    .tw-card-time { color: $offline-state; }
    .tw-card-likes { color: $offline-state; }
    .tw-card-tweet { color: $offline-state; }

    .tw-card-location, .btn-default {
      background-color: $offline-state;
      border-color: $offline-state;
    }
  }
}

.header-primary {
  .navbar {
    margin-bottom: 0;
  }

  nav {
    @extend .pull-right;
    @extend .collapse;
    @extend .navbar-collapse;
  }
}

.nav-list {
  &.active {
    a {
      background-color: $color-primary !important;
      color: $color-clean !important;
    }
  }

  a {
    background-color: $color-clean;
    border-color: $border-primary;
    color: $color-primary !important;

    text-transform: uppercase;
    font-weight: $fw-bold;
    font-size: ($fs-normal) + .2;
    text-transform: uppercase;
  }
}

.footer-primary {
  padding: 20px 0;
  text-align: center;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-size: ($fs-normal) + .2;

  .glyphicon-heart {
    color: #f00;
  }
}

.sc-about { margin-bottom: 50px; }

.sc-title {
  font-size: ($fs-medium) + 1;
  text-transform: uppercase;

  &::before {
    font-family: $ff-icon;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-size: ($fs-normal) + .2;
  }

  &.mission {
    &::before { content: "\e013"; }
  }
}

.sc-description {
  font-size: ($fs-normal) + .4;
  line-height: ($fs-medium) + 1.2;

  b {
    font-weight: $fw-bold;
    color: $color-primary;
  }
}

@media screen and (min-width: 768px) {
  .container { max-width: 730px; }
}
