<div class="wrp-main">

  <!-- Mission -->
  <article class="sc-about">
    <h3 class="sc-title mission">Mission</h3>

    <p class="sc-description">
    Create a timeline, based on Twitter, where is possible see: <b>username</b>, <b>photo</b>, <b>publication</b>, <b>date</b>, <b>location (City, State)</b> and <b>likes</b>.
    </p>
  </article>

  <!-- Mission -->
  <article class="sc-about">
    <h3 class="sc-title mission">What i want with this?</h3>

    <p class="sc-description">
    Demonstrate part of my ability with: <b>CSS3 animations</b>, <b>semantic HTML</b>, <b>application of mobile first</b>, <b>SASS</b>, <b>Google Maps API</b>, <b>Angular.js</b>, <b>Bootstrap</b>, <b>code organization</b>, <b>web standards</b>, <b>web API's</b>
    and creativity.
    </p>
  </article>


</div>
