<section class="wrp-main">
  <form class="form-primary" name="twFilter">
    <fieldset class="wrp-input">
      <label for="tw-username">Filter by username:</label>
      <input id="tw-username" placeholder="@nigga" type="text" ng-model="filterUsername">
    </fieldset>

    <fieldset class="wrp-input">
      <label for="tw-location">Filter by location:</label>
      <select id="tw-location" ng-model="filterLocation" ng-options="option.id as option.location for option in arrayLocations" ng-change="filterByLocation(option.location)"></select>
    </fieldset>

    <fieldset class="wrp-input">
      <label>Reorder by: </label>
      <button ng-click="sortType = 'date'; sortReverse = !sortReverse" class="btn-default" aria-label="Right Align">
        Date <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
      </button>

      <button ng-click="sortType = 'likes'; sortReverse = !sortReverse" class="btn-default" aria-label="Right Align">
        Likes <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
      </button>
    </fieldset>
  </form>
</section>

<section class="wrp-main" ng-init="getApiData()">
  <article class="tw-card" ng-repeat="tw in tweets | orderBy:sortType:sortReverse | filter:filterUsername">
    <figure class="tw-card-image">
      <img ng-src="{{tw.user.picture}}" alt="{{tw.user.username}}">
      <figcaption>{{tw.user.username}}</figcaption>
    </figure>

    <aside class="tw-card-info">
      <time class="tw-card-time" datetime="2001-05-15T19:00">{{tw.date | amDurationFormat: 'minute'}} ago</time>
      <h4 class="tw-card-likes">{{tw.likes}} likes</h4>
      <p class="tw-card-tweet">{{tw.content}}</p>
      <button class="tw-card-location">{{tw.user.location}}</button>
    </aside>
  </article>
</section>
