<form name="twFilter">
  <fieldset class="col-xs-12 form-group">
    <label for="tw-username">Filter by username</label>
    <br>

    <input class="form-control" id="tw-username" placeholder="@nigga" type="text" ng-model="twFilter.username" ng-change="filterByUsername(twFilter.username)">
  </fieldset>

  <fieldset class="col-xs-12 form-group">
    <label for="tw-location">Filter by location</label>
    <br>

    <select class="form-control" id="tw-location" ng-model="twFilter.location" ng-options="option.id as option.location for option in arrayLocations" ng-change="filterByLocation(option.location)"></select>
  </fieldset>

  <fieldset class="col-xs-12 form-group">
    <label for="">Reorder by: </label>
    <br>

    <button ng-click="orderBy('date')" class="btn btn-primary" aria-label="Right Align">
      Date <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    </button>

    <button ng-click="orderBy('likes')" class="btn btn-primary" aria-label="Right Align">
      Likes <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
    </button>
  </fieldset>
</form>

<hr>

<section class="col-xs-12 wrp-tweets" ng-init="getApiData()">
  <article class="tw-card" ng-repeat="tw in tweets">
    <figure class="tw-card-image">
      <img ng-src="{{tw.user.picture}}" alt="{{tw.user.username}}">
    </figure>

    <h2 class="tw-card-username">{{tw.user.username}}</h2>

    <p class="tw-card-content">{{tw.content}}</p>

    <aside class="tw-card-info">
      <time datetime="2001-05-15T19:00">
        {{tw.date | amDateFormat:'DD/MM/YYYY HH:mm'}}
      </time>
      <small>{{tw.user.location}}</small>
      <span>{{tw.likes}}</span>
    </aside>
  </article>
</section>
